/*body {
  background:#050505;
}*/

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

h1 {
  color: #369;
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 250%;
}
body {
  font-family: 'Roboto';
  margin: 2em;
}

.output-area > h1 {
  font-family: 'Roboto';
  color: #333;
}

textarea {
    width: 95%;
    /*height: 75%; */
}

.textarea-heading {
    font-size: 1.5em;
    font-style: oblique;
}

 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */


#load {
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:40%;
  margin-left:-300px;
  overflow:visible;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;

  transform:rotate(180deg);

  color: black;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
}

@keyframes move {
  0% {
    right:0;
    opacity:0;
  }
  35% {
		right: 41%; 
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		right:59%; 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		right:100%; 
		transform:rotate(-180deg);
		opacity:0;
	}
}